<ul><h2>Detalhes do Produto</h2>
  <li>
    <p><strong>Produto:</strong> {{products.produto}}</p>
    <p><strong>Preço:</strong> {{products.preco}}</p>
    <p><strong>Estoque:</strong> {{products.estoque}} unidades</p>
    <a href="/home">Voltar</a>
  </li>
</ul>